<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.emm504.maintain.mapper.MaintainInfoMapper">
  <resultMap id="MaintainResultMap" type="com.yx.emm504.Model.maintain.MaintainInfo">
    <id column="PRODUCT_ID" property="productId" />
    <result column="MAINTAIN_STATUS"  property="maintainStatus" />
    <result column="MAINTAIN_NOTE"  property="maintainNote" />
    <result column="CHECK_NOTE"  property="checkNote" />
    <result column="MAINTAIN_MAN"  property="maintainMan" />
    <result column="PROCESS_DATE"  property="processDate" />
    <result column="USED_PARTS" property="usedParts" />
    <result column="WORKLOAD"  property="workload" />
  </resultMap>
  
  
  <!-- 查询维修信息 -->
  <select id="selectById" resultMap="MaintainResultMap">
  	select * from MAINTAIN_INFO
  </select>
  
   <!-- 查询维修信息 -->
  <select id="selectListByAll" resultMap="MaintainResultMap">
  	select * from MAINTAIN_INFO
  </select>
  
  
  <delete id="delete" flushCache="true">
  	delete from maintain_info where product_id=#{productId};
  </delete>
  
  <!-- 更新维修信息 -->
  <update id="update" flushCache="true">
  	update MAINTAIN_INFO set  MAINTAIN_STATUS=#{maintaininfo.maintainStatus},MAINTAIN_NOTE=#{maintaininfo.maintainNote}
  	CHECK_NOTE=#{maintaininfo.checkNode} MAINTAIN_MAIN=#{maintaininfo.maintainMan} PROCESS_DATE=#{maintaininfo.processDate},USED_PARTS=#{maintaininfo.usedParts}
  	WORKLOAD=#{maintaininfo.workload} where PRODUCT_ID=#{maintaininfo.productId}
  </update>
  
  <!-- 添加维修任务 -->
  <insert id="insert" keyProperty="productId"   keyColumn="PRODUCT_ID"  flushCache="true">
  	INSERT INTO MAINTAIN_INFO VALUES (#{maintaininfo.productId},#{maintaininfo.maintainStatus},#{maintaininfo.maintainNote},
  	#{maintaininfo.checkNode},#{maintaininfo.maintainMan},#{maintaininfo.processDate},#{maintaininfo.usedParts},
  	#{maintaininfo.workload})
  </insert>
  
  
  <!-- 取得维修任务的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  	<select id="selectCountByAll" resultType="int">
		select IFNULL(count(product_id),0) from maintain_info
		<where>
		     <if test="maintainStatus!=null">
		      and MAINTAIN_STATUS=#{maintainStatus}
		     </if>
		     <if test="startDate!=null">
		      and processDate &gt;=#{startDate}
		     </if>
		     <if test="endDate!=null">
		      and processDate &lt;=#{endDate}
		     </if>
		 </where>
	</select>
	
	
	<!-- 获取所有维修任务列表 -->
	<select id="selectListByAllWithPage" resultMap="MaintainResultMap">
		select * from maintain_info 
		<where>
		     <if test="maintainStatus!=null">
		      and MAINTAIN_STATUS=#{maintainStatus}
		     </if>
		     <if test="startDate!=null">
		      and processDate  &gt;=#{startDate}
		     </if>
		     <if test="endDate!=null">
		      and processDate &lt;=#{endDate}
		     </if>
		 </where>
		limit #{start},#{rows}
	</select>
</mapper>