<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yx.emm504.outParts.mapper.IOutPartsMapper">

	<resultMap id="OutPartsModelResultMap" type="com.yx.emm504.Model.OutPartsModel">
		<id column="PARTS_NAME" property="parts_name"/>
		<result column="PARTS_MODEL" property="parts_model"/>
		<result column="PRODUCT_ID" property="product_id"/>
		<result column="COUNT" property="count"/>
		<result column="UNIT_PRICE" property="unit_price"/>
		<result column="OUT_DATE" property="out_date"/>
	</resultMap>
	
	<select id="selectListByAll" resultMap="OutPartsModelResultMap">
		select * from OUT_PARTS_INFO
	</select>
	
	<insert id="create">
		insert into OUT_PARTS_INFO(PARTS_NAME,PARTS_MODEL,PRODUCT_ID,COUNT,UNIT_PRICE,OUT_DATE)
		values (#{parts_name},#{parts_model},#{product_id},#{count},#{unit_price},#{out_date})
	</insert>
	
	<delete id="delete">
		delete from OUT_PARTS_INFO where PARTS_NAME = #{parts_name}
	</delete>
	
	<update id="modify">
		update OUT_PARTS_INFO set PARTS_MODEL=#{parts_model} where PARTS_NAME = #{parts_name}
	</update>
	
	<select id="getOutPartsByName" resultMap="OutPartsModelResultMap">
		select * from OUT_PARTS_INFO where PARTS_NAME = #{parts_name}
	</select>

</mapper>